.square {
  width: 200px;
  height: 200px;
  background: #efcd51;
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  height: 750px;
  width: 100%;
  border: 4px solid #5dd0bb;
}

.box-1 {
  justify-content: space-between;
}

.box-2 {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-4 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 20px;
}

.box-5 {
  gap: 20px;
  .square-2 {
    flex-grow: 1;
  }
}
.flexbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
