.position {
  max-width: 800px;
  margin: 150px auto;
  height: 100%;
  border: 4px solid #5dd0bb;
  font-family: "Inter";
  font-size: 40px;
  font-weight: 700;
}

.case {
  display: flex;
  width: 658px;
  height: 328px;
  justify-content: center;
  align-items: center;
  background: #efcd51;
  color: #000;
}
.case-1 {
  position: relative;
}
.case-2 {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 40px;
  top: 40px;
  background: #ffa8db;
}
.case-3 {
  position: relative;
  left: 24px;
  bottom: 64px;
  background: #ef9851;
}

.case-4 {
  display: flex;
  width: 300px;
  height: 100px;
  position: absolute;
  left: 16px;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  background: #ffa8db;
}

.case-6 {
  position: fixed;
  bottom: 80px;
  left: 80px;
  display: flex;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  background: #95c4d7;
}
