.carte {
  display: flex;
  width: 142px;
  padding: 16px 13px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background: #fff5cf;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .carte {
    display: flex;
    flex-direction: row;
    width: 326px;
    padding: 16px 13px;
    justify-content: center;
    align-items: flex-start;
    background: #f4f0f3;
  }
  .circle svg {
    fill: #cac9c9;
    width: 48px;
    height: 48px;
  }
  .h1 {
    font-size: 32px;
  }
}

@media (min-width: 1024px) {
  .carte {
    display: flex;
    width: 553px;
    padding: 20px;
    align-items: flex-start;
    background: #e8fbff;
  }

  .circle svg {
    fill: #cac9c9;
    width: 80px;
    height: 80px;
  }
  .h2 {
    font-size: 20px;
  }
  .icon {
    width: 32px;
    height: 32px;
  }
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}
.h1 {
  font-family: "Inter";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.h2 {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
}
.carte {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.p {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  align-self: stretch;
}

.contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 20px;
  border: 1px solid #000;
}
